<ActionBar title="My Subscriptions">
  <ActionItem ios.position="right" (tap)="onAddSubscription()">
    <Label text="Add" class="action-item"></Label>
  </ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
  <Label [text]="'Total Monthly Cost: $' + totalMonthlyCost" class="text-lg p-4 font-bold"></Label>
  <ListView [items]="subscriptions" row="1">
    <ng-template let-item="item">
      <GridLayout columns="*, auto" class="p-4" (tap)="onItemTap(item)">
        <StackLayout col="0">
          <Label [text]="item.name" class="text-lg font-bold"></Label>
          <Label [text]="'$' + item.cost + ' / month'" class="text-sm text-gray-500"></Label>
          <Label [text]="'Next renewal: ' + (item.renewalDate | date:'mediumDate')" class="text-sm text-gray-500"></Label>
        </StackLayout>
        <Label [text]="item.status" col="1" class="text-sm" [class.text-green-500]="item.status === 'active'" [class.text-yellow-500]="item.status === 'paused'" [class.text-red-500]="item.status === 'canceled'"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</GridLayout>